@tailwind base;
@tailwind components;
@tailwind utilities;
/* NavBar.css for top bar */

.topbar a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.topbar a:hover {
  background-color: #555;
  border-radius: 5px;
}
